{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>
            {{ appEntity.itemSingularName }} {{ item.itemId }}
            {% if item.currentRevision!=itemRevision %}
                <small>Revision {{ itemRevision.revision }}</small>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    {% include '@CreavoMultiApp/item/nav.html.twig' %}

    <div class="row">
        <div class="col-sm-7">

            {% for appField in appFields %}
                {% if not appField.hideWhenEmpty or appField.data is not null %}
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <strong>{{ appField.name }}</strong>
                        </div>
                        <div class="col-sm-9">
                            {{ appField|crv_ma_format('-') }}
                        </div>
                    </div>

                    <p><br /></p>
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-sm-5">

            <div class="panel panel-default" id="stream-panel">
                <div class="panel-heading text-center">
                    <h5 class="panel-title">Aktivitäten</h5>
                </div>
                <div class="panel-body">
                    <ul id="stream-list" class="chat">

                    </ul>

                    <p class="text-center" id="stream-loading" style="display: none;">
                        <i class="glyphicon glyphicon-refresh gly-spin" style="font-size:30px;"></i>
                    </p>

                    <p class="text-center" id="stream-load-more" style="display: none;">
                        <button class="btn btn-default btn-sm">
                            Mehr anzeigen
                        </button>
                    </p>
                </div>
                <div class="panel-footer">
                    {{ form_start(form) }}
                    <div class="input-group">
                        {{ form_row(form.comment, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Neuer Kommentar...'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm">Speichern</button>
                        </span>
                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block crv_ma_javascripts %}

    <script type="text/javascript">
        var offset=0;

        function loadDataStream() {
            $('#stream-load-more').hide();
            $('#stream-loading').show();
            $.ajax({
                url: "{{ path('crv_ma_item_activity_ajax',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': item.itemId}) }}",
                data: {
                    offset: offset
                },
                success: function(data) {
                    $('#stream-loading').hide();
                    $.each(data.items, function(index,row) {
                        var html='<li class="clearfix left">';
                        html+='<span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text='+row.createdBy.charAt(0).toUpperCase()+'" alt="'+row.createdBy+'" class="img-circle img-responsive" /></span>';
                        html+='<div class="chat-body clearfix">';
                        html+='<div class="header">';
                        html+='<strong class="primary-font">'+row.createdBy+'</strong>';
                        html+='<small class="pull-right text-muted">';
                        html+='<span class="glyphicon glyphicon-time"></span> '+row.createdAt+'</small>';
                        html+='</div>';
                        html+='<p>';
                        if(row.message) {
                            html+='<em>'+row.message+'</em>';
                        }
                        if(row.hasDetail) {
                            html+='&nbsp;<button class="btn btn-default btn-xs">Details</button>'
                        }
                        if(row.comment) {
                            html+=row.comment;
                        }
                        html+='</p>';
                        html+='</div>';
                        /*
                        html+=row.message;
                        if(row.comment) {
                            html+='<br />'+row.comment;
                        }
                        */
                        html+='</li>';
                        $('#stream-list').append(html);
                    });
                    offset+=10;

                    if(data.more) {
                        $('#stream-load-more').show();
                    }
                }
            });
        }

        $(document).ready(function() {
            loadDataStream();

            $('#stream-load-more button').on('click',function() {
                loadDataStream();
            });
        });
    </script>

{% endblock %}

{% block crv_ma_stylesheets %}

    <style type="text/css">
        .gly-spin {
            -webkit-animation: spin 2s infinite linear;
            -moz-animation: spin 2s infinite linear;
            -o-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }
        @-moz-keyframes spin {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(359deg);
            }
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
            }
        }
        @-o-keyframes spin {
            0% {
                -o-transform: rotate(0deg);
            }
            100% {
                -o-transform: rotate(359deg);
            }
        }
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }

        {# from: https://bootsnipp.com/snippets/featured/chat-widget #}
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
        }

        #stream-panel .panel-body {
            overflow-y: scroll;
            height: 500px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

    </style>

{% endblock %}