{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>
            {{ appEntity.itemSingularName }} {{ item.itemId }}
            {% if item.currentRevision!=itemRevision %}
                <small>Revision {{ itemRevision.revision }}</small>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    {% include '@CreavoMultiApp/item/nav.html.twig' %}

    <div class="row">
        <div class="col-sm-8">

            {% for appField in appFields %}
                {% if not appField.hideWhenEmpty or appField.data is not null %}
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{{ appField.name }}</strong>
                        </div>
                        <div class="col-sm-9">
                            {{ appField|crv_ma_format('-') }}
                        </div>
                    </div>

                    <p><br /></p>
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-sm-4">

        </div>
    </div>


{% endblock %}