{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>
            {{ appEntity.itemSingularName }} {{ item.itemId }}
            {% if item.currentRevision!=itemRevision %}
                <small>Revision {{ itemRevision.revision }}</small>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    <div class="row">
        <div class="col-sm-6">
            <p>
                <a href="{{ path('crv_ma_item_edit',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': item.itemId}) }}" class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-edit"></i> {{ appEntity.itemSingularName }} bearbeiten
                </a>
            </p>
        </div>
        <div class="col-sm-6 text-right">
            <p>
                Zuletzt bearbeitet am {{ itemRevision.createdAt|date('d.m.Y, H:i') }} Uhr
                {% if itemRevision.createdBy %}
                    von {{ itemRevision.createdBy }}
                {% endif %}
            </p>
        </div>
    </div>

    <p><br /></p>

    <div class="row">
        <div class="col-sm-8">

            {% for appField in appFields %}
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{ appField.name }}</strong>
                    </div>
                    <div class="col-sm-9">
                        {{ appField|crv_ma_format('-') }}
                    </div>
                </div>

                <p><br /></p>
            {% endfor %}

        </div>
        <div class="col-sm-4">

        </div>
    </div>


{% endblock %}