{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>
            {{ appEntity.itemSingularName }} {{ item.itemId }}
            {% if item.currentRevision!=itemRevision %}
                <small>Revision {{ itemRevision.revision }}</small>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    {% include '@CreavoMultiApp/item/nav.html.twig' %}

    <div class="row">
        <div class="col-sm-7">

            {% for appField in appFields %}
                {% if appField.data is not null %}
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <strong>{{ appField.name }}</strong>
                        </div>
                        <div class="col-sm-9">
                            {{ appField|crv_ma_format('-') }}
                        </div>
                    </div>

                    <p><br /></p>
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-sm-5">

            <div class="panel panel-default with-nav-tabs" id="stream-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-type="all">Alles</a>
                        </li>
                        <li>
                            <a href="#" data-type="activity">Aktivität</a>
                        </li>
                        <li>
                            <a href="#" data-type="comments">Kommentare</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <ul id="stream-list" class="chat">

                    </ul>

                    <p class="text-center" id="stream-loading" style="display: none;">
                        <i class="glyphicon glyphicon-refresh gly-spin" style="font-size:30px;"></i>
                    </p>

                    <p class="text-center" id="stream-load-more" style="display: none;">
                        <button class="btn btn-default btn-sm">
                            Mehr anzeigen
                        </button>
                    </p>
                </div>
                {% if not item.deleted %}
                    <div class="panel-footer">
                        {{ form_start(form) }}
                        <div class="input-group">
                            {{ form_row(form.comment, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Neuer Kommentar...'}}) }}
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm">Speichern</button>
                            </span>
                        </div>
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>


{% endblock %}

{% block crv_ma_javascripts %}

    <script type="text/javascript">
        var offset=0;
        var type='all';

        function loadDataStream() {
            $('#stream-load-more').hide();
            $('#stream-loading').show();
            $.ajax({
                url: "{{ path('crv_ma_item_activity_ajax',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': item.itemId}) }}",
                data: {
                    offset: offset,
                    type: type
                },
                success: function(data) {
                    $('#stream-loading').hide();

                    if(offset===0 && data.items.length===0) {
                        $('#stream-list').append('<li class="text-center alert alert-info" style="padding-bottom:15px;">Es konnten keine Elemente gefunden werden.</li>');
                    }

                    $.each(data.items, function(index,row) {
                        var html='<li class="clearfix left">';
                        html+='<span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text='+row.createdBy.charAt(0).toUpperCase()+'" alt="'+row.createdBy+'" class="img-circle img-responsive" /></span>';
                        html+='<div class="chat-body clearfix">';
                        html+='<div class="header">';
                        html+='<strong class="primary-font">'+row.createdBy+'</strong>';
                        html+='<small class="pull-right text-muted">';
                        html+='<span class="glyphicon glyphicon-time"></span> '+row.createdAt+'</small>';
                        html+='</div>';
                        html+='<p>';
                        if(row.message) {
                            html+='<em>'+row.message+'</em>';
                        }
                        if(row.hasDetail) {
                            html+='&nbsp;<button class="btn btn-default btn-xs crv_ma_open_modal" data-src="'+row.detailUrl+'">Details</button>'
                        }
                        if(row.comment) {
                            html+=row.comment;
                        }
                        html+='</p>';
                        html+='</div>';
                        html+='</li>';
                        $('#stream-list').append(html);
                    });
                    offset+=10;

                    if(data.more) {
                        $('#stream-load-more').show();
                    }
                }
            });
        }

        $(document).ready(function() {
            loadDataStream();

            $('#stream-load-more button').on('click',function() {
                loadDataStream();
            });

            $('#stream-panel .nav-tabs a').on('click',function(e) {
                e.preventDefault();
                type=$(this).data('type');
                offset=0;
                $(this).tab('show');
                $('#stream-list').html('');
                loadDataStream();
            });

            $('body').on('click','.crv_ma_open_modal',function(e) {
                e.preventDefault();

                var src=$(this).data('src');
                var height = $(this).data('height') || 450;
                var width = $(this).data('width') || 650;
                var title = $(this).data('modal-title') || $(this).data('title') || 'Modal';

                $('#crv_ma_modal .modal-dialog').css({
                    width: (width+32),
                    height: (height+94)
                });

                $('#crv_ma_modal .modal-title').html(title);
                $('#crv_ma_modal').modal();
                $('#crv_ma_modal .modal-body').html('<iframe src="'+src+'" height="'+height+'" width="'+width+'" frameborder="0"></iframe>');
            });
        });
    </script>

{% endblock %}

{% block crv_ma_stylesheets %}

    <style type="text/css">
        .gly-spin {
            -webkit-animation: spin 2s infinite linear;
            -moz-animation: spin 2s infinite linear;
            -o-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }
        @-moz-keyframes spin {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(359deg);
            }
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
            }
        }
        @-o-keyframes spin {
            0% {
                -o-transform: rotate(0deg);
            }
            100% {
                -o-transform: rotate(359deg);
            }
        }
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }

        {# from: https://bootsnipp.com/snippets/featured/chat-widget #}
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
        }

        #stream-panel .panel-body {
            overflow-y: scroll;
            height: 500px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        {# from: https://bootsnipp.com/snippets/featured/panels-with-nav-tabs #}

        .panel.with-nav-tabs .panel-heading{
            padding: 5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
            border-bottom: none;
        }
        .panel.with-nav-tabs .nav-justified{
            margin-bottom: -1px;
        }

        .with-nav-tabs.panel-default .nav-tabs > li > a,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
        }
        .with-nav-tabs.panel-default .nav-tabs > .open > a,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
            background-color: #ddd;
            border-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
            color: #555;
            background-color: #fff;
            border-color: #ddd;
            border-bottom-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
            background-color: #f5f5f5;
            border-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #777;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
            background-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #555;
        }

    </style>

{% endblock %}