{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>{{ appEntity.itemPluralName }} in {{ appEntity.name }}</h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    <div class="row">
        <div class="col-sm-9">
            <div class="well well-sm">
                <button class="btn btn-default btn-sm pull-right crv_ma_open_modal" data-src="{{ path('crv_ma_app_modal_filters',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}" data-title="Filter bearbeiten" data-footer-btn="reload">
                    Filter bearbeiten
                </button>
                <p><strong>Filter</strong></p>
                {% if filterTexts|length>0 %}
                    <ul class="list-inline">
                        {% for filterText in filterTexts %}
                            <li>{{ filterText }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Keine Filter gesetzt.
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3 text-right">
            <a href="{{ path('crv_ma_item_create',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> {{ appEntity.itemSingularName }}
            </a>
            <a href="{{ path('crv_ma_app_edit_basics',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-pencil"></i> App bearbeiten
            </a>
        </div>
    </div>

    <p><br /></p>


    {% if appFields|length>0 %}
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                {% for appField in appFields %}
                    {% if appField.showListing %}
                        <th>{{ appField.name }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            Diese App scheint noch nicht konfiguriert zu sein - bitte ergänzen Sie Felder.
        </div>
    {% endif %}

{% endblock %}

{% block crv_ma_javascripts %}

    {#
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    #}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/cr-1.4.1/fh-3.1.3/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable({
                "language": {
                    "processing": "Bitte warten...",
                    "search": "Suche",
                    "info": "Zeige _START_ bis _END_ von _TOTAL_ {{ appEntity.itemPluralName }}",
                    "sInfoEmpty": "Zeige 0 bis 0 von 0 {{ appEntity.itemPluralName }}",
                    "infoFiltered": "(gefiltert von _MAX_ {{ appEntity.itemPluralName }})",
                    "lengthMenu": "Zeige_MENU_ {{ appEntity.itemPluralName }}",
                    "zeroRecords": "Keine {{ appEntity.itemPluralName }} gefunden.",
                    "paginate": {
                        "first": "Erste Seite",
                        "previous": "zurück",
                        "next": "vor",
                        "last": "Letzte Seite"
                    }
                },
                "responsive": true,
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "fixedHeader": true,
                "colReorder": true,
                "ajax": {
                    url: "{{ path('crv_ma_item_list_ajax', {'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}",
                    type: "POST"
                },
                "columns": [
                    {% for appField in appFields %}
                        {% if appField.showListing %}
                            {% if loop.index0!=0 %},{% endif %}
                            {
                                "name": "{{ appField.slug }}",
                                "data": "{{ appField.slug }}",
                                "defaultContent": "-",
                                "orderable": true,
                                "searchable": true,
                                "className": "{% if appField.align=='right' %}text-right{% elseif appField.align=='center' %}text-center{% else %}text-left{% endif %}"
                            }
                        {% endif %}
                    {% endfor %}
                ]
            });

            $('body').on('click','#table tbody tr', function() {
                window.location=$(this).data('link');
            });

            $('body').on('click','.crv_ma_open_modal',function(e) {
                e.preventDefault();

                var src=$(this).data('src');
                var height = $(this).data('height') || 450;
                var width = $(this).data('width') || 650;
                var title = $(this).data('modal-title') || $(this).data('title') || 'Modal';
                var footerBtn = $(this).data('footer-btn') || 'close';

                $('#crv_ma_modal .modal-dialog').css({
                    width: (width+32),
                    height: (height+94)
                });

                $('#crv_ma_modal .modal-title').html(title);
                if(footerBtn==='reload') {
                    console.log('test');
                    $('#crv_ma_modal .modal-footer button')
                        .removeAttr('data-dismiss')
                        .on('click',function() {
                            parent.location.href=parent.location.href;
                        });
                }
                $('#crv_ma_modal').modal();
                $('#crv_ma_modal .modal-body').html('<iframe src="'+src+'" height="'+height+'" width="'+width+'" frameborder="0"></iframe>');
            });
        });
    </script>

{% endblock %}

{% block crv_ma_stylesheets %}
    {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/cr-1.4.1/fh-3.1.3/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css" />

    <style type="text/css">
        #table tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}