{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>{{ appEntity.itemPluralName }} in {{ appEntity.name }}</h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    <p class="text-right">
        <a href="{{ path('crv_ma_app_edit',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> {{ appEntity.itemSingularName }} erstellen
        </a>
        <a href="{{ path('crv_ma_app_edit',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-pencil"></i> App bearbeiten
        </a>
    </p>

    {% if pagination|length>0 %}
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                {% for appField in appFields %}
                    {% if appField.showListing %}
                        <th>{{ appField.name }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {#
            {% for row in pagination %}
                <tr class="link" data-href="{{ path('crv_ma_item_detail', {'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': row.item.itemId}) }}">
                    <td>
                        <a href="{{ path('crv_ma_item_detail',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': row.item.itemId}) }}">
                            {{ row.item.itemId }}
                        </a>
                    </td>
                    {% for appField in row.fields %}
                        {% if appField.showListing %}
                            <td class="{{ appField.tableClass }}">
                                {{ appField|crv_ma_format('-') }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            #}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            Es wurden keine {{ appEntity.itemSingularName }} gefunden.
        </div>
    {% endif %}

    {{ knp_pagination_render(pagination) }}

{% endblock %}

{% block crv_ma_javascripts %}

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable({
                "language": {
                    "processing": "Bitte warten...",
                    "search": "Suche",
                    "info": "Zeige _START_ bis _END_ von _TOTAL_ {{ appEntity.itemPluralName }}",
                    "infoFiltered": "(gefiltert von _MAX_ {{ appEntity.itemPluralName }})",
                    "lengthMenu": "Zeige_MENU_ {{ appEntity.itemPluralName }}",
                    "paginate": {
                        "first": "Erste Seite",
                        "previous": "zurück",
                        "next": "vor",
                        "last": "Letzte Seite"
                    }
                },
                "responsive": true,
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "{{ path('crv_ma_item_list_ajax', {'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}",
                    type: "POST"
                },
                "columns": [
                    {% for appField in appFields %}
                    {% if appField.showListing %}
                    {% if loop.index0!=0 %},{% endif %}
                    {"name": "{{ appField.slug }}", "data": "{{ appField.slug }}", "defaultContent": "-"}
                    {% endif %}
                    {% endfor %}
                ]
            });

            $('body').on('click','#table tbody tr', function() {
                window.location=$(this).data('link');
            });
        });
    </script>

{% endblock %}

{% block crv_ma_stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />

    <style type="text/css">
        #table tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}