<p><br /></p>

<p class="pull-right">
    Zuletzt bearbeitet am {{ itemRevision.createdAt|date('d.m.Y, H:i') }} Uhr
    {% if itemRevision.createdBy %}
        von {{ itemRevision.createdBy }}
    {% endif %}
</p>

<ul class="nav nav-tabs">
    <li class="{% if app.request.get('_route')=='crv_ma_item_detail' %}active{% endif %}">
        <a href="{{ path('crv_ma_item_detail',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': item.itemId}) }}">
            <i class="glyphicon glyphicon-info-sign"></i> Details
        </a>
    </li>
    <li class="{% if app.request.get('_route')=='crv_ma_item_edit' %}active{% endif %}">
        <a href="{{ path('crv_ma_item_edit',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug, 'itemId': item.itemId}) }}">
            <i class="glyphicon glyphicon-edit"></i> Bearbeiten
        </a>
    </li>

    <li>
        <a href="{{ path('crv_ma_item_list',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}">
            <i class="glyphicon glyphicon-list"></i> zur Liste
        </a>
    </li>
</ul>

<p><br /></p>