{% extends '@CreavoMultiApp/base.html.twig' %}
{% form_theme form '@CreavoMultiApp/partials/bootstrap_3_vertical_layout.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>{{ appEntity.name }}</h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    {% include '@CreavoMultiApp/app/nav.html.twig' %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.name) }}

            {{ form_row(form.itemSingularName) }}

            {{ form_row(form.itemPluralName) }}
        </div>

        <div class="col-sm-6">
            {{ form_row(form.icon) }}
        </div>
    </div>

    {{ form_widget(form) }}

    <button class="btn btn-primary">
        <i class="glyphicon glyphicon-floppy-disk"></i> Speichern
    </button>
    {{ form_end(form) }}

{% endblock %}