{% extends '@CreavoMultiApp/base.html.twig' %}

{% block crv_ma_header %}
    <div class="page-header">
        <h1>Apps in {{ workspace.name }}</h1>
    </div>
{% endblock %}

{% block crv_ma_body %}

    {% include '@CreavoMultiApp/partials/breadcrumbs.html.twig' %}

    {% if pagination|length>0 %}
        <div class="row">
            {% for appEntity in pagination %}
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body text-center" style="padding-top:25px;">
                            <p>
                                <i class="{{ appEntity.icon|default('glyphicon glyphicon-briefcase') }}" style="font-size:40px;"></i>
                            </p>
                            <p>
                                <a href="{{ path('crv_ma_item_list',{'workspaceSlug': workspace.slug, 'appSlug': appEntity.slug}) }}">
                                    {{ appEntity.name }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
            Es wurden keine Apps gefunden.
        </div>
    {% endif %}

    {{ knp_pagination_render(pagination) }}

{% endblock %}